<a href="<%- link %>">
    <button class="default-button <%= color %>" >
        <%- text %>
        <img src="media/<%- img %>" alt="">
    </button>
</a>

<!-- 
<% if (locals.color) { %>
    <%= locals.color %>
    <% } %> -->